<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<h2>Bookモデルの詳細画面</h2>
<h3>Title:</h3>
<h3>Body:</h3>
<p>編集画面と前の画面に戻るボタンがある</p>

<!--詳細画面の表示-->
<h3>Title:
<%= @book.title %></h3>
<!--↑Titleとデータで字体が違う、変更が必要-->

<h3>Body:
<%= @book.body %></h3>
<!--↑字体が違う、変更が必要-->

<!--編集と一覧indexにもどるリンクの追加が必要-->
<p><%= link_to 'Edit',"/books" %></p> <!--edit画面へリンクを変更-->
<p>|</p>
<p><%= link_to 'Back',"/books" %></p>