<h4>Books#show</h4>
<h4>Bookモデルの詳細画面</h4>

<!--投稿後だと成功メッセージ表示（Book was successfully created.）＋詳細画面-->

<!--詳細画面の表示-->
<h3>Title:
<%= @book.title %></h3>
<!--↑Titleとデータで字体が違う、変更が必要-->

<h3>Body:
<%= @book.body %></h3>
<!--↑字体が違う、変更が必要-->


<p><%= link_to 'Edit', edit_book_path(@book.id) %></p>
<p>|</p>
<p><%= link_to 'Back', books_path %></p>